/*
 * Site's custom style
 *
 * This file will be include into the main.css file from HTML5 Boilerplate
 * under the "Author's custom styles".
 */

/* ==========================================================================
   Variables
   ========================================================================== */

// Colors
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


/* ==========================================================================
   Mixins
   ========================================================================== */
.middle-top-gradient (@deg, @color) {
  background: linear-gradient(@deg,
    lighten(@color, 20%) 0%,
    @color 10%,
    @white,
    lighten(@color, 20%) 12%,
    @color 20%,
    @white,
    lighten(@color, 20%) 22%,
    @color 30%,
    @white,
    lighten(@color, 20%) 32%,
    @color 40%,
    @white,
    lighten(@color, 20%) 42%,
    @color 50%,
    @white,
    lighten(@color, 20%) 52%,
    @color 60%,
    @white,
    lighten(@color, 20%) 62%,
    @color 70%,
    @white,
    lighten(@color, 20%) 72%,
    @color 80%,
    @white,
    lighten(@color, 20%) 82%,
    @color 90%,
    @white,
    lighten(@color, 20%) 92%,
    @color 100%
  );
}

/* ==========================================================================
   Bootstrap overrrides
   ========================================================================== */

// override rule >> [class*="span"]
[class*="spanish"] {
  float: none;
  margin-left: 0px;
  min-height: auto;
}

li {
  line-height: 1.3em;
}

p {
  margin-bottom: 1em;
}

/* ==========================================================================
   Animations
   ========================================================================== */

@keyframes flip {
	to { transform: rotateX(0deg); }
}

@keyframes fall {
  40%, 70%, 90%{
     animation-timing-function: ease-out;
     transform: translate(0px, 0px);
  }
  0% {
     transform: translate(0px, -500px);
     animation-timing-function: ease-in;
  }
  55% {
     transform: translate(0px, -50px);
     animation-timing-function: ease-in;
  }
  80% {
     transform: translate(0px, -25px);
     animation-timing-function: ease-in;
  }
  95% {
     transform: translate(0px, -10px);
     animation-timing-function: ease-in;
  }
  100% {
     transform: translate(0px, 0px);
     animation-timing-function: ease-out;
  }
}

/* ==========================================================================
   Landing page style
   ========================================================================== */
html,
body {
  height: 100%;
}

body {
  color: @gray;
}

#middle-top {
  background: @grayDarker;
  /*background: linear-gradient(34deg,
    @gray 0%,
    @grayDarker 10%,
    @white,
    @gray 12%,
    @grayDarker 20%,
    @white,
    @gray 22%,
    @grayDarker 30%,
    @white,
    @gray 32%,
    @grayDarker 40%,
    @white,
    @gray 42%,
    @grayDarker 50%,
    @white,
    @gray 52%,
    @grayDarker 60%,
    @white,
    @gray 62%,
    @grayDarker 70%,
    @white,
    @gray 72%,
    @grayDarker 80%,
    @white,
    @gray 82%,
    @grayDarker 90%,
    @white,
    @gray 92%,
    @grayDarker 100%
  );*/
  .middle-top-gradient(34deg, @grayDarker);
  border-bottom: 2px solid @black;
  box-shadow: 0px 2px 6px 1px @gray;
  float: left;
  height: 50%;
  margin-bottom: -135px; /* Adjust for responsive layout */
  position: relative;
  width: 100%;
  z-index: 1;
}

#main-content {
  box-sizing: border-box;
  clear: left;
  height: 270px;  /* Adjust for responsive layout */
  max-width: 960px;
  perspective: 1800px;
  position: relative;
  width: 90%;
  z-index: 2;
}

/* Site's name */
h1 {
  color: @white;
  line-height: 1.1em;
  margin: 10px 10px 20px 10px;
  padding-right: 105px;
}

/* Site's navigation */
nav {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  
  .btn {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    width: 94px;
    
    i {
      padding-left: 12px;
    }
  }
}

#languages {
  background: @white;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
}

.language {
  line-height: 1.5em;
  overflow: hidden;
  
  > * {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  > :first-child {
    padding-top: 10px;
  }
}
  
.front,
.back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  
  > * {
    animation-name: fall;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    bottom: 0;
    left: 0px;
    position: relative;
  }
  
  > :nth-child(1) {
    animation-delay: 200ms;
  }  
  
  > :nth-child(2) {
    animation-delay: 150ms;
  }  
  
  > :nth-child(3) {
    animation-delay: 100ms;
  }  
}

.back {
  transform: rotateX( 180deg );
}

.flipped {
  transform: rotateX( 180deg );
}


