/*
 * Responsive layout style
 *
 */
 
/* ==========================================================================
   Landscape phones and down
   ========================================================================== */
@media screen and (max-width: 480px) {
  
  h1 {
    font-size: 30px;
  }
  
  nav {
    top: 18px;
    
    .btn {
      font-size: 12px;
      padding: 2px 0;
      width: 80px;
    }
  }
  
  .front .language-inner ul.icons {
    position: relative;
  }
  
  .back {
    .transform(rotateY(180deg));
  }
  
  .flipped {
    .transform(rotateY(180deg));
  }
}
 
/* ==========================================================================
   Landscape phone to portrait tablet
   ========================================================================== */
@media screen and (max-width: 767px) {
}
 
/* ==========================================================================
   Portrait tablet to landscape and desktop
   ========================================================================== */
//@media screen and (min-width: 768px) and (max-width: 979px) {
@media screen and (min-width: 768px) {

  #middle-top {
    float: left;
    margin-bottom: -258px; // Aprox. 60% of #main-content's height
    position: relative;
  }
  
  h1 {
    margin: 10px 30px 20px 30px;
  }
  
  nav {
    right: 30px;
  }
  
  #main-content {
    clear: left;
    height: 430px;
    width: 730px;
  }
  
  .language-inner {
    padding: 30px 280px 30px 30px;
  }
  
  ul.icons {
    padding: 15px 0px;
    position: absolute;
    right: 30px;
    top: 20px;
    width: 230px;
    z-index: 2;
    
    li {
      padding: 0 12px;
    }
  }
  
  .back {
    .transform(rotateX( 180deg ));
  }
  
  #languages.flipped {
    .transform(rotateX( 180deg ));
  }
}

/* ==========================================================================
   Large desktop
   ========================================================================== */
@media screen and (min-width: 1200px) {
  
  #middle-top {
    margin-bottom: -420px; // Aprox. 70% of #main-content's height
  }
  
  #main-content {
    height: 600px;
    width: 1100px;
  }

  h1 {
    font-size: 40px;
    margin: 10px 70px 50px 70px;
  }

  nav {
    right: 70px;
    
    .btn {
      font-size: 20px;
      padding: 6px 0;
      width: 114px;
    }
  }

  #languages {
    font-size: 20px;
  }
  
  .language-inner {
    padding: 70px 550px 70px 70px;
  }

  ul.icons {
    font-size: 22px;
    padding: 28px 0;
    right: 70px;
    top: 70px;
    width: 380px;
    
    li {
      padding: 0 28px;
    }
  }
}
